<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">
      &nbsp;MotorBlock
    </a>

    <div>
      <button class="btn btn-outline-light" routerLink="/nuevaTransaccion">Crear Bloque</button>
      &nbsp;
      <button class="btn btn-outline-light" routerLink="/transaccionesPendientes">Bloques Pendientes</button>
      &nbsp;
      <button class="btn btn-outline-light" routerLink="/searchMatricula">Buscar por matricula</button>
      &nbsp;
      <button class="btn btn-outline-light" routerLink="/logOut">Log out</button>
    </div>
</nav>
