<div class="container">
	
</div>
<style>
	#columnas{
		column-count: 2;
		column-gap:10px;
	}
</style>
<div id="columnas">	
			<div style="margin: 25px;">
				
				<h1>Bloques de la cadena</h1>
				<p>Cada tarjeta representa un bloque. Clique en un bloque para ver las transacciones almacenadas.</p>
				<app-ver-bloque
					*ngFor="let block of bloques" 
					[block]="block" 
					(click)="verTransacciones(block)"
				></app-ver-bloque>
	
			</div>

			<div>
				<br>
				<h1>Transacciones del bloque</h1>
				<app-tabla-transacciones
					[transacciones]="bloqueSeleccionado.transacciones"
				></app-tabla-transacciones>
					
			</div>		
</div>
	






